.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 400px;
    padding: 10px 20px;

    .buttonsGroup {
        display: flex;
        gap: 12px;

        .loginButton {
            margin-left: auto;
        }
    }
}
