.GRID {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
    grid-gap: 12px;
    grid-row-gap: 56px;
    justify-content: space-evenly;
}

.LIST {
    width: 90%;
    margin: 30px auto 0;
}
