@import "../../../app/styles/mixins/mixins";

.Button {
    cursor: pointer;
    margin: 0;
    padding: 8px 16px;
    outline: none;
    background: none;
    border: none;
    text-transform: uppercase;
    color: var(--text-color);
}

.default {
    outline: none;
    background: none;
    border: none;
}

.outlined {
    border: 2px solid var(--primary-color-light);
    padding: 6px 14px;
    border-radius: 10px;
}

.primary {
    @include gradient-bg-color(var(--secondary-color), var(--secondary-color-bright));

    border-radius: 10px;
}
