@import "../../../../app/styles/mixins/mixins";

.Sidebar {
    @include gradient-bg-color(var(--inverted-bg-color), var(--bg-color-sec));

    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: width 0.5s;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    opacity: 1;
    transition: 1s;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon {
            fill: var(--bg-color-sec);
        }
    }
}

.toggleSidebar {
    position: absolute;
    right: -16px;
    top: 45%;
    border-radius: 50%;

    & svg {
        fill: var(--text-color);
    }
}

.switchers {
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    bottom: 16px;
    transition: 1s;

    .themeSwitcher {
        transition: 0.5s;
        transform: translate(30px, 47px);
    }

    .langSwitcher img {
        width: 35px;
        height: 35px;
        transition: 0.5s;
        transform: translateX(85px);
    }
}

.collapsed {
    width: var(--collapsed-sidebar-width);

    .themeSwitcher {
        transition: 0.5s;
        transform: translateY(0);
    }

    .langSwitcher img {
        transition: 0.5s;
        transform: translateX(0);
    }

    .items {
        .item {
            .linkTitle {
                opacity: 0;
                width: 0;
            }
        }
    }
}
