@import "../../../../app/styles/mixins/mixins";

.Sidebar {
    @include gradient-bg-color(var(--inverted-bg-color), var(--bg-color-sec));

    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: 0.5s;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .icon {
            fill: var(--bg-color-sec);
        }
    }
}

.toggleSidebar {
    position: absolute;
    right: -16px;
    top: 45%;
    border-radius: 50%;

    & svg {
        fill: var(--text-color)
    }
}

.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    bottom: 16px;
}

.collapsed {
    width: var(--collapsed-sidebar-width);

    .switchers {
        flex-direction: column;
    }

    .items {
        .item {
            .linkTitle {
                display: none;
            }
        }
    }
}
