@import "../../../../app/styles/mixins/mixins";

.Sidebar {
    @include gradient-bg-color(var(--inverted-bg-color), var(--bg-color-sec));

    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    transition: width 0.3s;
}

.collapsed {
    width: var(--collapsed-sidebar-width);
}

.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 20px;
}
