.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .icon {
        fill: var(--bg-color-sec);
    }
}

.collapsed {
    .linkTitle {
        opacity: 0;
        width: 0;
    }
}

.active {
    transform: translateX(25px) scale(1.3);
    transition: 0.5s;
}

.active.collapsed {
    transform: scale(1.4);
    transition: 0.3s;

    .icon {
        fill: var(--bg-color);
    }
}
