.Code {
    position: relative;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    background-color: var(--code-bg);
    overflow: auto;

    .copyBtn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .copyIcon {
        width: 30px;
        height: 30px;

        &:hover {
            fill-opacity: 80%;
        }

        &:active {
            transition: 0.3s;
            transform: scale(0.9);
        }
    }
}
