.container {
    width: 680px;
}

.profileWrapper {
    margin-top: 30px;
}

.avatarBtn {
    position: relative;
    margin-top: 10px;
}

.avatarIcon {
    margin-right: 10px;
    fill: var(--text-color);
}

.label {
    cursor: pointer;
}
