.ArticleViewModeSwitcher {
    display: flex;
    align-items: center;
    justify-content: right;
    transition: 0.3s;

    .icon {
        width: 25px;
        height: 25px;
        fill-opacity: 50%;
    }

    .selected {
        .icon {
            transition: 0.3s;
            transform: scale(1.2);
            fill-opacity: 100%;
        }
    }

    .viewModeBtn {
        &:hover {
            transform: scale(1.1);
        }
    }
}
