.app_coral_theme {
    --bg-color-sec: #f3c8c8;
    --bg-color: #fff;
    --inverted-bg-color: #e4695e;
    --primary-color: #ea8281;
    --primary-color-light: #e4695e;
    --secondary-color: #fceaea;
    --secondary-color-bright: #f6f6f6;
    --text-color: #e4695e;
    --shadow: rgba(0 0 0 / 50%);
    --overlay-color: rgb(101 101 101 / 50%);
}
