.app_dark_theme {
    --bg-color: #080808;
    --bg-color-sec: #343434;
    --inverted-bg-color: #d8d8d8;
    --primary-color: #d5b86f;
    --primary-color-light: #d2a441;
    --secondary-color: #1b1b1b;
    --secondary-color-bright: #808080;
    --text-color: #d8d8d8;
    --shadow: rgb(0 0 0);
    --overlay-color: rgba(101, 101, 101, 0.5);
}
