.app.light {
  --bg-color: #d3d3e3;
  --inverted-bg-color: #28137c;

  --primary-color: #0033e7;
  --secondary-color: #003ac0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}