.app_light_theme {
    --bg-color: #fff;
    --bg-color-sec: #f8ecdd;
    --inverted-bg-color: #23222d;
    --primary-color: #f6653b;
    --primary-color-light: #b0afaf;
    --secondary-color: #23222d;
    --secondary-color-bright: #905f20;
    --shadow: rgb(0 0 0 / 30%);
    --overlay-color: rgba(0 0 0 / 60%);
    --skeleton-color: rgb(187 183 183);
    --skeleton-shadow: rgb(110 106 106 / 71%);
    --transparent-bg: rgb(246 101 59 / 90%);
}
