.app.light {
  --bg-color: #d8d8d8;
  --bg-color-sec: #939393;
  --inverted-bg-color: #000;
  --primary-color: #575757;
  --primary-color-light: #eee;
  --secondary-color: #f9eeae;
  --secondary-color-bright: #905f20;
  --text-color: #1c1c1c;
}
