.CommentItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--inverted-bg-color);
    margin-bottom: 12px;
    padding: 12px;

    .header {
        .link {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}

.loading {
    border: none;
}
