.ArticleDetails {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: calc(100vh - var(--navbar-height));
    overflow: auto;

    .avatar {
        margin: 0 auto;
    }

    .articleInfo {
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
            width: 20px;
            height: 20px;
        }
    }

    .blocks {
        margin-top: 24px;
    }

    .block {
        margin-bottom: 32px;
    }

    .imageBlock {
        width: 100%;
    }
}
