.ArticleDetailsPage {
    position: relative;
    padding: 60px 20px 40px 60px;

    .title {
        margin-bottom: 30px;
    }

    .recommendations {
        display: flex;
        overflow: auto;
        margin-bottom: 30px;
    }
}
