@import "../../../app/styles/mixins/mixins";

.Navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 18px;
    background-color: var(--inverted-bg-color);
}

.links {
    display: flex;
    align-items: center;
    width: 100%;

    .linkToEditPage {
        flex-grow: 2;

        .createPostBtn {
            margin: 0 auto;
        }
    }

    .notificationsIcon {
        width: 20px;
        height: 20px;
    }

    .authBtn {
        order: 2;
    }
}
