.Navbar {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: var(--navbar-height);
    padding: 18px;
    background-color: var(--inverted-bg-color);
}

.links {
    display: flex;
    align-items: center;
}
