.Dropdown {
    position: relative;
    width: fit-content;
    z-index: 4;

    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 6px 12px;
        border-radius: 10px;
        background-color: var(--code-bg);
        cursor: pointer;
    }

    .item {
        padding: 6px 12px;
    }

    .btn {
        cursor: pointer;
        border: none;
        background: none;
        outline: none;
        margin: 0;
        padding: 0;
    }

    .topLeft {
        bottom: 100%;
        left: 0;
    }

    .topRight {
        bottom: 100%;
        right: 0;
    }

    .bottomRight {
        top: 100%;
        right: 0;
    }

    .bottomLeft {
        top: 100%;
        left: 0;
    }
}
