@mixin gradient-color($from, $to) {
    background: linear-gradient($from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-bg-color($from, $to) {
    background: linear-gradient($from, $to);
}
