@import "../../../app/styles/mixins/mixins";

.AppLink {
    padding: 6px 10px;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;
}

.default {
    color: #fff;
}

.primary {
    color: #fff;
}

.inverted {
    color: #fff;
}

.outlined {
    border: 2px solid var(--secondary-color-bright);
    border-radius: 10px;
}

.without-styles {
    all: unset;
    cursor: pointer;
}
