.AppLink {
    margin-left: 10px;
    color: var(--inverted-primary-color);
}

.primary {
    color: var(--primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}

.outlined {
    padding: 10px;
    border: 2px solid var(--inverted-primary-color);
}
