.LoginModal {
    position: relative;
}

.closeBtn {
    position: absolute;
    top: -26px;
    right: -26px;
    fill: var(--text-color);
    width: 15px;
    height: 15px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
}
